<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Escuelita</title>
    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Bienvenidos a la Escuelita!!!</h1>
                <p>Para ver el ejemplo de paises hacer click <a href="paises">ac&aacute;</a></p>
            </div>
        </div>
    </div>
</body>

</html>