<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paises</title>
    <!-- Vendor CSS -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Paises</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4>Todos</h4>
                <table class="table table-bordered" aria-describedby="paises">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="pais : ${paises}">
                            <tr>
                                <td th:text="${pais.id}"></td>
                                <td th:text="${pais.nombre}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div id="mensajeNoEncontrado" class="alert alert-warning d-none">
                    <strong>No encontrado!</strong> No existe un pais con el ID buscado.
                </div>
                <div class="input-group">
                    <input id="idPaisABuscar" type="text" class="form-control" placeholder="#ID pais a buscar" />
                    <div class="input-group-btn">
                        <button id="botonBuscarPaisPorId" class="btn btn-info" type="button">Buscar</button>
                    </div>
                </div>
                <h4>Solo Pais con Id #<span id="idPaisEncontrado"></span></h4>
                <table class="table table-bordered" aria-describedby="pais">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTablaPais"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JS de la aplicacion -->
    <script type="module" th:src="@{/js/ui/pais.js}"></script>
    <script type="module" th:src="@{/js/service/pais.js}"></script>
</body>

</html>